@charset "UTF-8";

/* Importação das Fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Identidade visual:
    Texto principal #212121
    Verde #4CAF50
    Background inicio #333333
*/

* { /* reset css: apaga as configurações pré-definidas do navegador */
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

header {
    display: flex; /* quando coloca o display flex, ele automaticamente bota flex-direction row */
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
    margin-bottom: 14px;
}

.cabecalho-imagem {
    height: 50px;
}

.cabecalho-links {
    display: flex;
    gap: 35px;
    color: #212121;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

#inicio {
    background-color: #212121;
    color: beige;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.text-header {
    color: #4CAF50;
}

#space {
    color: #374151;
}

#inicio {
    padding-top: 10px;
}